@import url('reset.css');
@import url('typography.css');

/*header*/
h3 {
	color: #444;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 19px;
	font-weight: normal;
	padding: 0px 15px 10px 10px;
}

/*body*/
body{
	margin:auto;
	width:1060px;
}

#header{
	background: url('../img/header-image.png') no-repeat;
	width: 100%;
	height: 150px;
}

#content-top-shadow{
	background: url('../img/content-top-shadow.png') repeat-x;
	height: 10px;
	width: 100%;
}

/*navbar*/
div#navbar{
	margin-top: 56px;
	position: relative;
	right: -1px;
	top: -65px;
}

ul#tabs {
	margin-top: 65px;
	position: absolute;
	right: 0px;
	top: -65px;
}

ul#tabs li{
	background: url('../img/tabs-sprite.png') no-repeat;
	float: left;
	height: 35px;
	margin-right: 1px;
	width: 100px;
}

ul#tabs li a {
	display: block;
	height: 100%;
	text-indent: -9000px;
	width: 100%;
}

ul#tabs li#home {
	background-position: 0px 0px;
}

ul#tabs li#home:hover {
	background-position: 0px -40px;
}

ul#tabs li#home.current, ul#tabs li#home:active {
	background-position: 0px -80px;
}

ul#tabs li#roads {
	background-position: -100px 0px;
}

ul#tabs li#roads:hover {
	background-position: -100px -40px;
}

ul#tabs li#roads.current, ul#tabs li#roads:active {
	background-position: -100px -80px;
}

ul#tabs li#vehicles {
	background-position: -200px 0px;
}

ul#tabs li#vehicles:hover {
	background-position: -200px -40px;
}

ul#tabs li#vehicles.current, ul#tabs li#vehicles:active {
	background-position: -200px -80px;
}

ul#tabs li#accidents {
	background-position: -300px 0px;
}

ul#tabs li#accidents:hover {
	background-position: -300px -40px;
}

ul#tabs li#accidents.current, ul#tabs li#accidents:active {
	background-position: -300px -80px;
}

ul#tabs li#resources {
	background-position: -400px 0px;
}

ul#tabs li#resources:hover {
	background-position: -400px -40px;
}

ul#tabs li#resources.current, ul#tabs li#resources:active {
	background-position: -400px -80px;
}

ul#tabs li#about {
	background-position: -500px 0px;
}

ul#tabs li#about:hover {
	background-position: -500px -40px;
}

ul#tabs li#about.current, ul#tabs li#about:active {
	background-position: -500px -80px;
}

ul#tabs li#contact {
	background-position: -600px 0px;
}

ul#tabs li#contact:hover {
	background-position: -600px -40px;
}

ul#tabs li#contact.current, ul#tabs li#contact:active {
	background-position: -600px -80px;
}

/*page-wrapper*/
div#page-wrapper {
	background-color: #ffffff;
	clear: both;
	min-height: 300px;
	overflow: hidden;
	padding: 10px;
	margin: auto;
	width:1026px;
}

/*banner*/
ul#banner li {
	display: inline;
}

ul#banner li:hover {
	opacity: 0.9;
}

ul#banner li#vehicles{
	margin-left: 40px;
}

ul#banner li#roads {
	float: left;
}

ul#banner li#accidents {
	float: right;
}

/*content*/
#content{
	line-height: 22px;
	padding-bottom: 20px;
	position:relative;
	width: 1058px;
	border: 1px solid #D0D0D0;
}

#content-bottom-shadow{
	background: url('../img/content-bottom-shadow.png') repeat-x;
	height: 10px;
	width: 100%;
}

#content-image {
	float: right;
	border: 1px solid #D0D0D0;
}

#content-vehicle {
	float: left;
	width: 540px;
}

#content-road {
	clear: both;
}

#vehicle {
	float: left;
	width: 300px;
}

#vehicle-year {
	float: right;
}

#vehicle-bar {
	height: 550px;
}

#vehicle-output {
	width: 700px;
	height: 430px;
	border: 1px solid #D0D0D0;
	float: right;
}

#road-area, #accident-column {
	width: 700px;
	border: 1px solid #D0D0D0;
	float: right;
}

#road-area {
	height: 390px;
}

#accident-column {
	height: 400px;
}

#road, #accident {
	float: left;
	width: 300px;
}

#line-chart {
	clear: both;
}

/*resources*/
table { 
  	width: 100%; 
  	border-collapse: collapse; 
}

table tr td:first-child {
	font-weight: bold;
}

/* Zebra striping */
tr:nth-of-type(odd) { 
  	background: #eee; 
}

th { 
  	background: #333; 
  	color: white;
}

td, th { 
  	padding: 6px; 
  	border: 1px solid #ccc; 
}

/*map*/
#map {
    height: 500px;
    width: auto;
}

.info {
    width: 200px;
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h5 {
    margin: 0 0 5px;
    color: #777;
}

.info p {
    text-align: center;
}

.legend {
    width: 120px;
    line-height: 20px;
    color: #555;
    background-color: rgba(255,255,255,0.8);
}

.legend p {
	text-align: left;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/*about*/
#faq {
	width: 735px;
	float: left;
}

#faq p {
	margin-left: 25px;
}

#source {
	padding: 10px;
	width: 250px;
	height: 180px;
	float: right;
	border: 1px solid #D0D0D0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.8);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.8);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.8);
}

#github-source {
	margin-top: 10px;
	padding: 10px;
	width: 250px;
	height: 65px;
	float: right;
	border: 1px solid #D0D0D0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.8);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.8);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.8);
}

div#github-source img {
	vertical-align: middle;
}

/*source list*/
div#source li {
	background: url('../img/tick.png') 0 0 no-repeat;
  	list-style: none;
  	margin-top: 10px;
  	padding-left: 20px;
}

/*contact*/
div#contact_us-form, div#contact-info-trp, div#contact-info-saugat {
	background: #f3f3f3;
	border: 1px solid #D0D0D0;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.8);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.8);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.8);
}

div#contact_us-form {
	width: 500px;
	height: 500px;
	float: left;
}

div#contact-info-trp, div#contact-info-saugat {
	width: 500px;
	height: 244px;
	float: right;
}

div#contact-info-trp {
	margin-bottom: 10px;
}

p#form-header{
	padding:5px 30px 0px 30px;
	text-align: center;
}

fieldset {
	padding:0 30px 25px 30px;
}

#form-input, textarea {
	width: 250px;
	padding: 15px 25px;
	background: #fff;
	border: 1px solid #fff;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-o-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

textarea {
	width: 380px;
	height: 150px;
	max-width: 380px; 
    max-height: 150px;
}

input#form-submit {
	display: block;
	padding: 10px;
	margin-right: 10px;
	color: #fff;
	font-weight: bold;
	float: right;
	background: #17232f;
	border: none;
	cursor: pointer;
	border: 1px solid #fff;
	border-radius: 5px;
}

input#form-submit:hover {
	opacity: 0.9;
}

#contact-info-top,#contact-info-bottom {
	height: 230px;
	width:460px;
	margin-left: 30px;
	margin-top: 35px;
}

div#contact-information {
	float: left;
	height: 110px;	
}

div#socialnetwork {
	clear: both;
}

#socialnetwork img { 
	float: left; 
	margin: 10px; 
	-webkit-transition: margin 0.5s ease-out; 
	-moz-transition: margin 0.5s ease-out; 
	-o-transition: margin 0.5s ease-out;
	transition: margin 0.5s ease-out; 
} 

#socialnetwork img:hover { margin-top: 2px; }

.circular-trp-small {
	float: right;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
	background: url('../img/avatar-trp.png') no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-o-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	margin-top: -20px;
	margin-right: 25px;
}

.circular-saugat-small {
	float: right;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
	background: url('../img/avatar-saugat.png') no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-o-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	margin-top: -20px;
	margin-right: 25px;
}

/*error*/
.error, .success {
	margin: auto;
	text-align: right;
	display: block;
	background-repeat: no-repeat;
	background-position: 10px center;
	border: 1px solid #D0D0D0;
	
}

.success {
	width: 300px;
	background-color: #DFF2BF;
	background-image: url('../img/success.png');
}

.error {
	width: 330px;
	background-color: #FF9494;
	background-image: url('../img/error.png')
}

/*footer*/
p#footer-text {
	line-height: 32px;
}